################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MJ/v15
/MJ.Common/obj/Debug
/MJ.Main
/MJ.PlugIn.Core/obj/Debug
/MJ.PlugIns/obj/Debug
/MJ.DAL/obj/Debug
